.navbar {
    background: #ffffff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}

.navbar-logo {
    color: var(--primary-blue);
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    align-items: center;
}

.logo-text .highlight {
    color: var(--primary-green);
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    justify-content: flex-end;
}

.nav-item {
    height: 80px;
}

.nav-links {
    color: var(--text-dark);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-weight: 600;
    transition: all 0.2s ease;
}

.nav-links:hover {
    color: var(--primary-blue);
    border-bottom: 3px solid var(--primary-blue);
}

.nav-links.activated {
    color: var(--primary-blue);
    border-bottom: 3px solid var(--primary-blue);
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: var(--primary-blue);
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        /* mostly full height */
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        background: #ffffff;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-menu.active {
        background: #ffffff;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: var(--primary-blue);
        color: #fff;
        border-radius: 0;
    }
}